---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-558">
        <div class="cs-container">
            <span class="cs-int-title">About</span>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Home</a>
                <a href="" class="cs-link cs-active">About</a>
            </div>
        </div>
    </div>
                                

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-867">
        <div class="cs-container">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/nail-kreations-logo-removebg.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/nail-kreations-logo-removebg.png">
                <img loading="lazy" decoding="async" src="/assets/images/nail-kreations-logo-removebg.png" alt="therapy" width="630" height="775">
            </picture>
            <div class="cs-content">
                <span class="cs-topper">About Nail Kreations</span>
                <h2 class="cs-title">EMBRACE ELEGANCE AT YOUR FINGERTIPS</h2>
                <p class="cs-text">
                    Welcome to Nail Kreations by Katie, your local haven for nail care excellence. We're here to ensure your nails look their absolute best with our range of specialised treatments. From the sturdy elegance of acrylics to the flexible strength of BIAB and the sleek finish of gel polish, we cater to all your nail needs.
                <p class="cs-text">
                    Our salon is a place where you can relax while we take care of the details. With ITEC & QQI certifications, we are committed to providing you with quality service and outstanding results.
                </p>
                <p class="cs-text">
                    Drop by and let us give your nails the attention they deserve. Your are in good hands with us.
                </p>
                <a class="cs-button-solid book-appointment">Book Appointment</a>
            </div>
        </div>
    </section>
                                

    {% include 'components/cta.html' %}

{% endblock %}