---
title: 'Projects'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'projects/'
eleventyNavigation:
    key: Projects
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-558">
        <div class="cs-container">
            <span class="cs-int-title">Treatments</span>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Home</a>
                <a href="" class="cs-link cs-active">Treatments</a>
            </div>
        </div>
    </div>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services-943">
        <div class="cs-container">
            <!-- Left Content Section-->
            <div class="cs-content">
                <span class="cs-topper">Our Service</span>
                <h2 class="cs-title">Services Tailored for You</h2>
                <p class="cs-text">
                    Looking for a fresh set of nails or a quick touch-up? We've got you. From classic looks to the latest trends, our treatments are here to fit your style and schedule. Pop in, pick your service, and leave with nails that make you feel great.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/manicure.png" alt="hair cut" width="40" height="40">
                    </picture>
                    <h3 class="cs-h3">Acrylic Nails</h3>
                    <p class="cs-item-text">
                        Get long-lasting, robust nails that stand up to your daily grind. Perfect for those who love a solid color or a bit of length.
                    </p>
                    <a href="" class="cs-link book-appointment">Book</a>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <img loading="lazy" decoding="async" src="/assets/images/acrylic-nails-extensions-3.png" alt="hair cut" width="480" height="425">
                    </picture>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/nail-polish.png" alt="hair cut" width="40" height="40">
                    </picture>
                    <h3 class="cs-h3">Biab Nails</h3>
                    <p class="cs-item-text">
                        Enjoy stronger, healthier-looking nails with our Biab treatments. Ideal for anyone after a natural but polished appearance.
                    </p>
                    <a href="" class="cs-link book-appointment">Book</a>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <img loading="lazy" decoding="async" src="/assets/images/biab-nails-2.png" alt="hair cut" width="480" height="425">
                    </picture>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/nails-polish-2.png" alt="hair cut" width="40" height="40">
                    </picture>
                    <h3 class="cs-h3">Gel Nails</h3>
                    <p class="cs-item-text">
                        Shiny, durable, and available in a rainbow of colors. Our gel nails keep you looking polished for weeks on end.
                    </p>
                    <a href="" class="cs-link book-appointment">Book</a>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <img loading="lazy" decoding="async" src="/assets/images/gel-nails-1.png" alt="hair cut" width="480" height="425">
                    </picture>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/nail-art.png" alt="hair cut" width="40" height="40">
                    </picture>
                    <h3 class="cs-h3">Complimentary Extras</h3>
                    <p class="cs-item-text">
                        Fancy a little extra? Add French tips or nail art on us. Just a little treat to make your manicure truly yours.
                    </p>
                    <a href="" class="cs-link book-appointment">Book</a>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <img loading="lazy" decoding="async" src="/assets/images/acrylic-nails-extensions-8.png" alt="hair cut" width="480" height="425">
                    </picture>
                </li>
            </ul>
        </div>
        <!--Waves Background-->
        <picture class="cs-waves">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves-m.svg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg" alt="waves graphic" width="1920" height="331" aria-hidden="true">
        </picture>
    </section>

    <section id="booking">
        <div class="calendly-inline-widget" data-url="https://calendly.com/nail-kreations?hide_gdpr_banner=1" style="min-width:320px;height:700px;"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var calendlySection = document.getElementById('booking');
        
            var observer = new IntersectionObserver(function(entries, observer) {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                var script = document.createElement('script');
                script.src = 'https://assets.calendly.com/assets/external/widget.js';
                script.async = true;
                document.body.appendChild(script);
                observer.unobserve(entry.target);
                }
            });
            }, {rootMargin: "0px 0px -200px 0px"});
        
            observer.observe(calendlySection);
        });
    </script>
      

    {% include 'components/cta.html' %}

{% endblock %}