/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/
.booking-container {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  padding: 20px;
  max-width: 800px;
  /* Or the width of your preference */
  margin: auto;
}
.booking-day {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.booking-date {
  margin: 0 0 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
  color: #333333;
}
.time-slots {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  /* Align to the start of the container */
  padding: 10px 0;
}
.time-slot {
  padding: 10px 16px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  min-width: 90px;
  /* Ensure consistent width for all buttons */
  text-align: center;
  /* Center the text inside buttons */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.time-slot:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.see-more {
  display: block;
  width: 200px;
  /* Adjust the width as necessary */
  padding: 10px 15px;
  margin: 20px auto;
  /* Centers the button in the container */
  font-size: 16px;
  /* Adjust the font size as necessary */
  color: #ffffff;
  /* Text color */
  background-color: #333333;
  /* Background color */
  border: none;
  /* No border */
  border-radius: 4px;
  /* Rounded corners */
  cursor: pointer;
  /* Cursor changes to a pointer to indicate it's clickable */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Slight shadow for depth */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  /* Smooth transition for hover effects */
}
.see-more:hover {
  background-color: #555555;
  /* Slightly darker on hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  /* Larger shadow on hover for a "lifting" effect */
}
