/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px- Contains Hover State */
@media only screen and (min-width: 0rem) {
    #services-29 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: (24/16rem);
        }

        .cs-item {
            list-style: none;
            margin: 0;
            width: 100%;

            &:hover {
                .cs-picture {
                    &:before {
                        height: 100%;
                    }

                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .cs-picture {
            /* height divided by width */
            aspect-ratio: 328/220;
            position: relative;
            display: block;
            /* Keeps image from bleeding outside the picture element */
            overflow: hidden;
            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 0%;
                width: 100%;
                background: var(--primary);
                opacity: 0.8;
                top: 0;
                left: 0;
                z-index: 1;
                transition: height 0.3s;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act like a background image */
                object-fit: cover;
                transition: transform 0.7s;
            }
        }

        .cs-box {
            /* Centers the button */
            text-align: center;
            width: 90%;
            margin: 0 auto;
            /* -32px to 48px */
            margin-top: clamp(-2rem, 7vw, -3rem);
            /* 24px to 28px */
            padding-top: clamp(1.5rem, 2.4vw, 1.75rem);
            background: #fff;
            position: relative;
            z-index: 10;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            text-align: center;
            line-height: 1.2em;
            font-weight: bold;
            color: var(--headerColor);
            /* 24px to 28px */
            margin: 0 0 clamp(1.5rem, 2.4vw, 1.75rem);
        }

        .cs-button-transparent {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: auto;
            color: var(--primary);
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: transparent;
            border: 1px solid var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: var(--primary);
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-29 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-card-group {
            flex-direction: row;
            align-items: center;
        }

        .cs-item {
            width: 32.3%;
            max-width: (413/16rem);
            margin: 0;
        }

        .cs-picture {
            /* Reset aspect ratio, don't need it anymore */
            aspect-ratio: initial;
            /* 240px - 420px */
            height: clamp(15rem, 31.5vw, 26.25rem);
        }
    }
}

/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #pricing-994 {
        padding: var(--sectionPadding);
        background-color: #00433A;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            margin: 0 0 (32/16rem) 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-menu {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            column-gap: (20/16rem);
            /* 28px - 40px */
            row-gap: clamp(1.75rem, 3vw, 2.5rem);
        }

        .cs-menu-group {
            width: 100%;
            max-width: (630/16rem);
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* 28px - 40px */
            gap: clamp(1.75rem, 3vw, 2.5rem);
        }

        .cs-menu-item {
            list-style: none;
            width: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: (8/16rem);
        }

        .cs-h3 {
            width: 100%;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: (24/16rem);
            position: relative;

            &:before {
                /* grey line */
                content: "";
                width: 100%;
                height: 2px;
                background: #e8e8e8;
                opacity: 1;
                position: absolute;
                display: block;
                top: (13/16rem);
                left: 0;
                z-index: -1;
            }
        }

        .cs-header {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 700;
            max-width: (400/16rem);
            padding-right: (8/16rem);
            color: var(--bodyTextColorWhite);
        }

        .cs-price {
            font-size: (16/16rem);
            line-height: 1.5em;
            font-weight: 400;
            padding-left: (8/16rem);
            color: var(--bodyTextColorWhite);
        }

        .cs-menu-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-picture {
            width: 100%;
            min-height: (380/16rem);
            display: block;
            /* sends it to the top */
            order: -1;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #pricing-994 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-menu-group {
            width: 100%;
        }

        .cs-picture {
            max-width: (521/16rem);
        }
    }
}


/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-1689 {
        padding: var(--sectionPadding);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: #f7f7f7;

        .cs-picture {
            width: 100%;
            height: auto;
            display: block;
            position: relative;
            /* width divided by height */
            aspect-ratio: 109/180;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery-1689 {
        grid-template-columns: repeat(6, 1fr);

        .cs-picture {
            /* 180px - 420px */
            height: clamp(11.25rem, 30vw, 26.25rem);
            aspect-ratio: initial;
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-1672 {
        padding: var(--sectionPadding);
        background-color: #00433A;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 40px - 64px */
            gap: clamp(2.5rem, 4.5vw, 4rem);
        }

        .cs-content {
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-title {
            margin: (0/16rem);
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);

        }

        .cs-item {
            list-style: none;
            width: 100%;
            /* 20px - 40px top & bottom */
            /* 20px - 40px left & right */
            padding: clamp(1.25rem, 3.15vw, 2.5rem) clamp(1.25rem, 3.15vw, 2.5rem);
            background-color: #f7f7f7;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            display: flex;
            grid-column: span 12;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            position: relative;
            /* 24px - 48px */
            gap: clamp(1.5rem, 4vw, 3rem);
        }

        .cs-flex-group {
            /* this margin top auto will push everything up and force the cs-flex-group to the bottom of the container. This is to account for review cards with different heights because of more or less text and makes the cards more responsive to changing text */
            margin-top: auto;
            display: flex;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .cs-profile {
            width: (52/16rem);
            height: auto;
            border-radius: 50%;
            position: relative;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes the image behave like a background image */
                object-fit: cover;
            }
        }

        .cs-name {
            /* 20px - 25px */
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
            margin-top: auto;
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            /* 14px - 16px */
            font-size: (16/16rem);
            line-height: 1.5em;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            gap: (16/16rem);
        }

        .cs-item-stars {
            width: (108/16rem);
            height: auto;
        }

        .cs-review {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1.25rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            z-index: 1;
        }

        .cs-quote {
            width: (86/16rem);
            height: auto;
            position: absolute;
            right: (0/16rem);
            bottom: (0/16rem);
            z-index: 0;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-1672 {
        .cs-item {
            grid-column: span 4;
        }
    }
}
                                
                                

