---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/green.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!--We needed to pull from Google Fonts CDN to load in the cursive font. -->
<!--Download the fonts from https://gwfh.mranftl.com/fonts and follow the steps to host it locally and remove these CDN links-->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap" rel="stylesheet">

    <!-- ============================================ -->
    <!--                   Stats                      -->
    <!-- ============================================ -->

    <section id="hero-929">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">Unleash Your Inner Elegance With Our Nail Artistry</h2>
                <div class="cs-flex">
                    <div class="cs-content-group">
                        <p class="cs-text">
                            Experience a touch of luxury and transform your nails into a statement of style. We are dedicated to perfecting the art of nail design, using the latest techniques to ensure every detail is a masterpiece.
                        </p>
                        <a class="cs-button-solid book-appointment">Book Appointment</a>
                    </div>
                    <div class="cs-hours-group">
                        <span class="cs-header">Business Hours</span>
                        <div class="cs-hours">
                            <span class="cs-day">Mon-Wed</span>
                            <span class="cs-time">10AM-8PM</span>
                        </div>
                    </div>
                </div>
                <!--We need this wrapper div so we can place the cs-tagline around the cs-picture image. We can only place images inside picture tags so the cs-tagline can't go in there. hence we HAVE to make a div wrapper so they can be placed together-->
                <div class="cs-picture-group">
                    <!--Hair Model Picture-->
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/nail-model-2.png">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/nail-model-2.png">
                        <img loading="lazy" decoding="async" src="/assets/images/nail-model-2.png" alt="hair model" width="576" height="598">
                    </picture>
                </div>
            </div>
        </div>
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/salon-m.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/salon.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/salon.jpg" alt="salon interior" width="1920" height="804">
        </picture>
    </section>
                                

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services-943">
        <div class="cs-container">
            <!-- Left Content Section-->
            <div class="cs-content">
                <span class="cs-topper">Our Service</span>
                <h2 class="cs-title">Services Tailored for You</h2>
                <p class="cs-text">
                    Looking for a fresh set of nails or a quick touch-up? We've got you. From classic looks to the latest trends, our treatments are here to fit your style and schedule. Pop in, pick your service, and leave with nails that make you feel great.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/manicure.png" alt="hair cut" width="40" height="40">
                    </picture>
                    <h3 class="cs-h3">Acrylic Nails</h3>
                    <p class="cs-item-text">
                        Get long-lasting, robust nails that stand up to your daily grind. Perfect for those who love a solid color or a bit of length.
                    </p>
                    <a href="" class="cs-link book-appointment">Book</a>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <img loading="lazy" decoding="async" src="/assets/images/acrylic-nails-extensions-3.png" alt="hair cut" width="480" height="425">
                    </picture>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/nail-polish.png" alt="hair cut" width="40" height="40">
                    </picture>
                    <h3 class="cs-h3">Biab Nails</h3>
                    <p class="cs-item-text">
                        Enjoy stronger, healthier-looking nails with our Biab treatments. Ideal for anyone after a natural but polished appearance.
                    </p>
                    <a href="" class="cs-link book-appointment">Book</a>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <img loading="lazy" decoding="async" src="/assets/images/biab-nails-2.png" alt="hair cut" width="480" height="425">
                    </picture>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/nails-polish-2.png" alt="hair cut" width="40" height="40">
                    </picture>
                    <h3 class="cs-h3">Gel Nails</h3>
                    <p class="cs-item-text">
                        Shiny, durable, and available in a rainbow of colors. Our gel nails keep you looking polished for weeks on end.
                    </p>
                    <a href="" class="cs-link book-appointment">Book</a>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <img loading="lazy" decoding="async" src="/assets/images/gel-nails-1.png" alt="hair cut" width="480" height="425">
                    </picture>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/nail-art.png" alt="hair cut" width="40" height="40">
                    </picture>
                    <h3 class="cs-h3">Complimentary Extras</h3>
                    <p class="cs-item-text">
                        Fancy a little extra? Add French tips or nail art on us. Just a little treat to make your manicure truly yours.
                    </p>
                    <a href="" class="cs-link book-appointment">Book</a>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <img loading="lazy" decoding="async" src="/assets/images/acrylic-nails-extensions-8.png" alt="hair cut" width="480" height="425">
                    </picture>
                </li>
            </ul>
        </div>
        <!--Waves Background-->
        <picture class="cs-waves">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves-m.svg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg" alt="waves graphic" width="1920" height="331" aria-hidden="true">
        </picture>
    </section>
                                
                                
                                
    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-867">
        <div class="cs-container">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/nail-kreations-logo-removebg.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/nail-kreations-logo-removebg.png">
                <img loading="lazy" decoding="async" src="/assets/images/nail-kreations-logo-removebg.png" alt="therapy" width="630" height="775">
            </picture>
            <div class="cs-content">
                <span class="cs-topper">About Nail Kreations</span>
                <h2 class="cs-title">EMBRACE ELEGANCE AT YOUR FINGERTIPS</h2>
                <p class="cs-text">
                    Welcome to Nail Kreations by Katie, your local haven for nail care excellence. We're here to ensure your nails look their absolute best with our range of specialised treatments. From the sturdy elegance of acrylics to the flexible strength of BIAB and the sleek finish of gel polish, we cater to all your nail needs.
                <p class="cs-text">
                    Our salon is a place where you can relax while we take care of the details. With ITEC & QQI certifications, we are committed to providing you with quality service and outstanding results.
                </p>
                <p class="cs-text">
                    Drop by and let us give your nails the attention they deserve. Your are in good hands with us.
                </p>
                <a class="cs-button-solid book-appointment">Book Appointment</a>
            </div>
        </div>
    </section>                           

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery-973">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Portfolio</span>
                <h2 class="cs-title">Check Out Our Nails!</h2>
                <p class="cs-text">
                    Take a peek at our colorful collection of nail designs! Every set is a splash of fun and a dash of personality right at your fingertips. Whether you're into classic looks, trendy patterns, or a bit of sparkle, our gallery's got a bit of everything. Get inspired for your next visit and let's create something that's all you!
                </p>
            </div>
            <div class="cs-gallery">
                <!--Picture 1-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/acrylic-nails-extensions-7.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/acrylic-nails-extensions-7.png">
                    <img loading="lazy" decoding="async" src="/assets/images/acrylic-nails-extensions-7.png" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 2-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/acrylic-nails-extensions-4.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/acrylic-nails-extensions-4.png">
                    <img loading="lazy" decoding="async" src="/assets/images/acrylic-nails-extensions-4.png" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 3-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/acrylic-nails-extensions-8.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/acrylic-nails-extensions-8.png">
                    <img loading="lazy" decoding="async" src="/assets/images/acrylic-nails-extensions-8.png" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 4-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/acrylic-nails-extensions-9.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/acrylic-nails-extensions-9.png">
                    <img loading="lazy" decoding="async" src="/assets/images/acrylic-nails-extensions-9.png" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 5-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/biab-nails-5.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/biab-nails-5.png">
                    <img loading="lazy" decoding="async" src="/assets/images/biab-nails-5.png" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 6-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/biab-nails-6.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/biab-nails-6.png">
                    <img loading="lazy" decoding="async" src="/assets/images/biab-nails-6.png" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 7-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/biab-nails-8.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/biab-nails-8.png">
                    <img loading="lazy" decoding="async" src="/assets/images/biab-nails-8.png" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 8-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/acrylic-nails-extensions-11.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/acrylic-nails-extensions-11.png">
                    <img loading="lazy" decoding="async" src="/assets/images/acrylic-nails-extensions-11.png" alt="gallery" width="305" height="400">
                </picture>
            </div>
        </div>
    </section>
                                

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-608">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Testimonials</span>
                <h2 class="cs-title">Our Customer Reviews</h2>
                <p class="cs-text">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                    <h3 class="cs-h3">Amazing Work!</h3>
                    <p class="cs-item-text">
                        Katie is an amazing nail tech! Her work is perfect, she never fails. 💕
                    </p>
                    <span class="cs-name">Aoibhe</span>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                    <h3 class="cs-h3">10/10!!</h3>
                    <p class="cs-item-text">
                        Beautiful nail tech, beautiful vibe and most of all absolutely beautiful nails. 💅
                    </p>
                    <span class="cs-name">Jessy</span>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                    <h3 class="cs-h3">Attention to Detail!</h3>
                    <p class="cs-item-text">
                        Absolutely love my nails every time I leave my appointment. Attention to detail is amazing.
                    </p>
                    <span class="cs-name">Rachel</span>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                    <h3 class="cs-h3">Professional and the best!</h3>
                    <p class="cs-item-text">
                        Katie is extremely professional. Her work is always completed to a high standard.
                    </p>
                    <span class="cs-name">Toge</span>
                </li>
            </ul>
        </div>
    </section>
                                
                                
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.cs-link.service-link').forEach(function(link) {
                link.addEventListener('click', function(event) {
                    event.preventDefault(); // Prevent the default link behavior
                    const serviceName = this.getAttribute('data-service'); // Get the service name
                    const serviceKey = this.getAttribute('data-key'); // Get the service key
                    const serviceEncoded = encodeURIComponent(serviceName);
                    const keyEncoded = encodeURIComponent(serviceKey);
                    // Navigate to the available-times page with the service name and key as query parameters
                    window.location.href = `/available-times?service=${serviceEncoded}&key=${keyEncoded}`;
                });
            });
        });

    </script>                     
                                

    {% include 'components/cta.html' %}
{% endblock %}