---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/green.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!--We needed to pull from Google Fonts CDN to load in the cursive font. -->
<!--Download the fonts from https://gwfh.mranftl.com/fonts and follow the steps to host it locally and remove these CDN links-->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap" rel="stylesheet">

    <!-- ============================================ -->
    <!--                   Stats                      -->
    <!-- ============================================ -->

    <section id="hero-929">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">Unleash Your Inner Beauty With Our Modern Hair Experts</h2>
                <div class="cs-flex">
                    <div class="cs-content-group">
                        <p class="cs-text">
                            Designed to maintain your current colour, blend out a growing root or balance your blonde while providing full and semi-permanent coverage.
                        </p>
                        <a href="" class="cs-button-solid">Book An Appointment</a>
                    </div>
                    <div class="cs-hours-group">
                        <span class="cs-header">Business Hours</span>
                        <div class="cs-hours">
                            <span class="cs-day">Mon-Fri</span>
                            <span class="cs-time">10AM-8PM</span>
                        </div>
                        <div class="cs-hours">
                            <span class="cs-day">Sat</span>
                            <span class="cs-time">11AM-6PM</span>
                        </div>
                        <div class="cs-hours">
                            <span class="cs-day">Sun</span>
                            <span class="cs-time">Closed</span>
                        </div>
                    </div>
                </div>
                <!--We need this wrapper div so we can place the cs-tagline around the cs-picture image. We can only place images inside picture tags so the cs-tagline can't go in there. hence we HAVE to make a div wrapper so they can be placed together-->
                <div class="cs-picture-group">
                    <span class="cs-tagline">Since 1990</span>
                    <!--Hair Model Picture-->
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/woman-m.png">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/woman.png">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/woman.png" alt="hair model" width="576" height="598">
                    </picture>
                </div>
            </div>
        </div>
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/salon-m.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/salon.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/salon.jpg" alt="salon interior" width="1920" height="804">
        </picture>
    </section>
                                

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services-1626">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">Our services</span>
                    <h2 class="cs-title">Grow Your Business with Our New Bold Agency</h2>
                </div>
                <p class="cs-text">
                    Aqestic recusandae laudantium optio amet a quisquam saepe aliquid, voluptate praesentium dicta fuga dolor error perspiciatis voluptatem eum cupiditate totam reiciendis quam minus inventore sint rem impedit esse quasi Tenetur sed reprehenderit earum a magni aliquid blanditiis dolores, veritatis soluta autem beatae officia expedita ipsum rerum doloribus sit provident delectus.
                </p>
            </div>                  
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/nuclear.jpg">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/nuclear.jpg">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/nuclear.jpg" alt="room" width="413" height="420">
                        </picture>
                        <h3 class="cs-h3">Process Safety & Risk Management</h3>
                        <p class="cs-item-text">
                            We provide some of the finest quality, most reliable, and cost effective services and solutions.
                        </p>
                        <span class="cs-fake-link">
                            Get Started
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                        </span>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/worker5.jpg">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/worker5.jpg">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/worker5.jpg" alt="room" width="413" height="420">
                        </picture>
                        <h3 class="cs-h3">Occupational Safety & Health</h3>
                        <p class="cs-item-text">
                            We provide some of the finest quality, most reliable, and cost effective services and solutions.
                        </p>
                        <span class="cs-fake-link">
                            Get Started
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                        </span>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/containers.jpg">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/containers.jpg">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/containers.jpg" alt="room" width="413" height="420">
                        </picture>
                        <h3 class="cs-h3">Security Assessment and Planning</h3>
                        <p class="cs-item-text">
                            We provide some of the finest quality, most reliable, and cost effective services and solutions.
                        </p>
                        <span class="cs-fake-link">
                            Get Started
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </section>
                                

    <!-- ============================================ -->
    <!--                  Pricing                     -->
    <!-- ============================================ -->

    <section id="pricing-994">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Pricing</span>
                <h2 class="cs-title">All Hair Services</h2>
                <!--Menu-->
                <ul class="cs-menu-group">
                    <li class="cs-menu-item">
                        <h3 class="cs-h3">
                            <span class="cs-header">Haircut With Blow Dry</span>
                            <span class="cs-price">$39</span>
                        </h3>
                        <p class="cs-menu-text">
                            Creative way to paint, decorate, enhance, and embellish.
                        </p>
                    </li>
                    <li class="cs-menu-item">
                        <h3 class="cs-h3">
                            <span class="cs-header">Haircut With Blow Dry</span>
                            <span class="cs-price">$39</span>
                        </h3>
                        <p class="cs-menu-text">
                            Creative way to paint, decorate, enhance, and embellish.
                        </p>
                    </li>
                    <li class="cs-menu-item">
                        <h3 class="cs-h3">
                            <span class="cs-header">Haircut With Blow Dry</span>
                            <span class="cs-price">$39</span>
                        </h3>
                        <p class="cs-menu-text">
                            Creative way to paint, decorate, enhance, and embellish.
                        </p>
                    </li>
                    <li class="cs-menu-item">
                        <h3 class="cs-h3">
                            <span class="cs-header">Haircut With Blow Dry</span>
                            <span class="cs-price">$39</span>
                        </h3>
                        <p class="cs-menu-text">
                            Creative way to paint, decorate, enhance, and embellish.
                        </p>
                    </li>
                    <li class="cs-menu-item">
                        <h3 class="cs-h3">
                            <span class="cs-header">Haircut With Blow Dry</span>
                            <span class="cs-price">$39</span>
                        </h3>
                        <p class="cs-menu-text">
                            Creative way to paint, decorate, enhance, and embellish.
                        </p>
                    </li>
                </ul>
            </div>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/salon3.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/salon3.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/salon3.jpg" alt="hair salon" width="521" height="640">
            </picture>
        </div>
    </section>
                                
                                

    <!-- ============================================ -->
    <!--                  Gallery                     -->
    <!-- ============================================ -->

    <div id="gallery-1689">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)"
                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-gallery-1.png">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)"
                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-gallery-1.png">
            <img loading="lazy" decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-gallery-1.png" alt="picture"
                    width="480" height="549">
        </picture>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)"
                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-gallery-2.png">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)"
                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-gallery-2.png">
            <img loading="lazy" decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-gallery-2.png" alt="picture"
                    width="480" height="549">
        </picture>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)"
                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-gallery-3.png">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)"
                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-gallery-3.png">
            <img loading="lazy" decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-gallery-3.png" alt="picture"
                    width="480" height="549">
        </picture>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)"
                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-gallery-4.png">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)"
                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-gallery-4.png">
            <img loading="lazy" decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-gallery-4.png" alt="picture"
                    width="480" height="549">
        </picture>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)"
                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-gallery-5.png">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)"
                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-gallery-5.png">
            <img loading="lazy" decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-gallery-5.png" alt="picture"
                    width="480" height="549">
        </picture>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)"
                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-gallery-6.png">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)"
                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-gallery-6.png">
            <img loading="lazy" decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-gallery-6.png" alt="picture"
                    width="480" height="549">
        </picture>
    </div>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-1672">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Testimonials</span>
                <h2 class="cs-title">Our Customer Reviews</h2>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <div class="cs-flex-group">
                        <picture class="cs-picture">
                            <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-headshot1.jpeg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                        </picture>
                        <span class="cs-name">
                            Britney Allison
                            <span class="cs-job">Founder of Yokoloko</span>
                        </span>
                    </div>
                    <div class="wrapper">
                        <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                        <p class="cs-review">
                        Stitch Consulting transformed our business strategy Their expert consultants provided ingenious insights that propelled us towards success. Their dedication and innovative solutions are truly commendable.
                        </p>
                    </div>
                    <!--Quote Icon-->
                    <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
                </li>
                <li class="cs-item">
                    <div class="cs-flex-group">
                        <picture class="cs-picture">
                            <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/review2.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                        </picture>
                        <span class="cs-name">
                            Brooklyn Simmons
                            <span class="cs-job">Founder of Yokoloko</span>
                        </span>
                    </div>
                    <div class="wrapper">
                        <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                        <p class="cs-review">
                        Stitch Consulting transformed our business strategy Their expert consultants provided ingenious insights that propelled us towards success. Their dedication and innovative solutions are truly commendable.
                        </p>
                    </div>
                    <!--Quote Icon-->
                    <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
                </li>
                <li class="cs-item">
                    <div class="cs-flex-group">
                        <picture class="cs-picture">
                            <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-headshot2.jpeg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                        </picture>
                        <span class="cs-name">
                            Cameron Williamson
                            <span class="cs-job">Founder of Yokoloko</span>
                        </span>
                    </div>
                    <div class="wrapper">
                        <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                        <p class="cs-review">
                        Stitch Consulting transformed our business strategy Their expert consultants provided ingenious insights that propelled us towards success. Their dedication and innovative solutions are truly commendable.
                        </p>
                    </div>
                    <!--Quote Icon-->
                    <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
                </li>
            </ul>
        </div>
    </section>
                                
                                
                                

    {% include 'components/cta.html' %}
{% endblock %}